<template>
 <div class="about">
  <!-- 标题 -->
  <div class="title">
    <!-- 关于我们 -->
    <div class="title_cont">
       <i class="el-icon-tickets"></i>
       <span>关于我们</span>
    </div>
  </div>
  <!-- 渲染的内容 -->
  <div class="millet">
    <div class="millet_cont">
      {{lista}}
    </div>
  </div>
</div>
</template>

<script>
import { getMd } from "@/api/get.js";
export default {
  name: "",
  data() {
    return {
      // 渲染的数据
      lista:[]
    };
  },
  methods: {
    list() {
      getMd().then(res => {
        this.lista=res
      });
    }
  },
  mounted() {
    this.list();
  },
  computed: {},
  watch: {},
  components: {}
};
</script>

<style lang='scss' scoped>
.about {
  width: 100%;
  height: 100%;
  top: 16%;
  position: absolute;
}
// 标题
.title {
  width: 100%;
  height: 5%;
  top: 3%;
  position: absolute;
  border-bottom: 2px solid orange;
  .title_cont {
    width: 80%;
    height: 100%;
    position: absolute;
    left: 13%;
    i {
      font-size: 30px;
      margin-right: 10px;
      color: orange;
    }
    span {
      font-size: 30px;
    }
  }
}
// 渲染的背景
.millet{
  width: 100%;
  height: 100%;
  top: 8.2%;
  position: absolute;
  background: #f5f5f5;
  .millet_cont{
    width: 80%;
    height: 100%;
    background: white;
    position: absolute;
    left: 13%;
    font-size:18px;
    padding-right:20px;
    padding-top: 20px;
  }
}
</style>
