<template>
  <div class="collect">
     <p class="title">
        <i class="el-icon-collection-tag"></i>
        <span>我的收藏</span>
     </p>
     <!-- 内容 -->
     <div class="cont">
       <div class="cont_title">
          <!-- 内容的渲染 -->
          <div class="cont_contdiv" v-for="(item,index) in enshrinez" :key="index">
              <el-popconfirm
              confirm-button-text='好的'
              icon="el-icon-info"
              icon-color="red"
              title="确定删除吗？"
              @confirm="que"
            >
              <i slot="reference" class="off" @click="OffClick(item,index)">X</i>
            </el-popconfirm>
            <!-- 图片 -->
            <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="cont_contdiv_img">
            <!-- 名字 -->
            <p class="name">{{item.product_name}}</p>
            <!-- 标题 -->
            <p class="titleA">{{item.product_title}}</p>
            <p class="priceA">
              <span class="red">{{item.product_selling_price}}元</span>
              <s class="black">{{item.product_price}}元</s>
            </p>
          </div>
       </div>
     </div>
  </div>
</template>

<script>
import { collect, collectA, collectADel } from "@/api/get.js";
export default {
  name: "",
  data() {
    return {
      // 用户的id
      user_id: 0,
      // 渲染的数据
      enshrinez: [],
       visible: false,
       id:0
    };
  },
  methods: {
    // 数据的查看
    list() {
      collect({ user_id: this.user_id }).then(res => {
        // console.log(34, res);
      });
    },
    list1() {
      collectA({ user_id: this.user_id }).then(res => {
        this.enshrinez = res.collectList;
      });
    },
    // 删除
    OffClick(item,index) {
      this.id=item.product_id
      this.visible=true
    },
    que(){
      collectADel({ user_id: this.user_id, product_id:this.id }).then(
        res => {
          this.list1();
          this.$notify({
            title: "成功",
            message: res.msg,
            type: "success"
          });
        }
      );
    }
  },
  mounted() {
    // 用户的id
    this.user_id = JSON.parse(localStorage.getItem("num"));
    // 数据的查看
    this.list();
    this.list1();
  },
  computed: {},
  watch: {},
  components: {}
};
</script>

<style lang='scss' scoped>
.collect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 18%;
  //   标题
  .title {
    width: 80%;
    height: 30px;
    position: absolute;
    left: 13%;
    i {
      font-size: 30px;
      color: orange;
      margin-right: 10px;
    }
    span {
      font-size: 30px;
    }
  }
  //   内容
  .cont {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border-top: 2px solid orange;
    position: relative;
    top: 6%;
    left: 0;
    // 内容的渲染盒子
    .cont_title {
      width: 80%;
      height: 100%;
      left: 13%;
      top: 3%;
      position: absolute;
      // 单独的内容渲染
      .cont_contdiv {
        width: 281px;
        height: 400px;
        background: white;
        float: left;
        margin-right: 20px;
        // 取消
        .off {
          float: right;
          margin-top: 20px;
          margin-right: 20px;
          display: none;
        }
        .off:hover {
          color: orange;
        }
        .cont_contdiv_img {
          margin-left: 20%;
          width: 60%;
          height: 50%;
          margin-top: 40px;
        }
        .name {
          text-align: center;
          line-height: 30px;
          font-size: 18px;
        }
        .titleA {
          text-align: center;
          margin-top: 10px;
          color: #b0b0b0;
        }
        .priceA {
          text-align: center;
          .red {
            color: red;
            margin-right: 10px;
          }
          .black {
            color: #b0b0b0;
          }
        }
      }
      .cont_contdiv:hover {
        box-shadow: 2px 2px 10px #06c;
        .off {
          display: block;
        }
      }
    }
  }
}
</style>
