<template>
  <div class="confirmOrder">
    <!-- 标题 -->
    <p class="title">
        <i class="el-icon-s-order title-i"></i>
        <span>确认订单</span>
    </p>
    <!-- 底部的渲染 -->
    <div class="cont">
        <div class="cont_div">
            <p class="cont_div_p">收货地址</p>
            <div class="location">
                <p class="name">陈同学</p>
                <p>13580018623</p>
                <p>广东广州市白云区江高镇</p>
                <p>广东白云学院</p>
            </div>
            <div class="locationa">
                <p class="name">陈同学</p>
                <p>13580018623</p>
                <p>广东茂名市化州市杨梅镇</p>
                <p>***</p>
            </div>
            <div class="locationa">
                <i class="el-icon-circle-plus-outline locationa_i"></i>
                <span class="dizhi">添加新的地址</span>
            </div>
            <p class="coupon">商品及优惠券</p>
            <!-- 渲染 -->
            <div class="apply" v-for="(item,index) in $store.state.lista" :key="index">
                <img :src="'http://106.15.179.105/api/'+item.productImg" alt="" class="apply_img">
                <span class="apply_name">{{item.productName}}</span>
                <span class="subtotal">{{item.price}}*{{item.num}}</span>
                <span class="prce">{{item.price}}</span>
            </div>
            <!-- 配送方式 -->
            <div class="distribution">
                <span class="distribution_cont">配送方式</span>
                <span class="postage">包邮</span>
            </div>
            <!-- 发票 -->
            <div class="distribution">
                <span class="distribution_cont">发票</span>
                <span class="postage">电子发票</span>
                <span class="postagea">个人</span>
                <span class="postageb">商品明细</span>
            </div>
            <!-- 渲染的内容 -->
            <div class="distributionA">
               <p>
                   <span>商品件数：</span>
                   <span class="origin">{{num}}件</span>
               </p>
               <p>
                   <span>商品总价：</span>
                   <span class="origin">{{numaa}}元</span>
               </p>
               <p>
                   <span>活动优惠：</span>
                   <span class="origin">-0元</span>
               </p>
               <p>
                   <span>优惠券折扣：</span>
                   <span class="origin">-0元</span>
               </p>
               <p>
                   <span>运费：</span>
                   <span class="origin">0元</span>
               </p>
               <p>
                   <span>应付总额：</span>
                   <span class="origin price">{{numaa}}</span><span class="origin">元</span>
               </p>
            </div>
            <div class="btn">
                <el-button type="info" @click="$router.push({path:'/shoppingCart'})">返回购物车</el-button>
                <el-button type="warning" @click="close">结算</el-button>
            </div>
            
        </div>
    </div>
</div>
</template>

<script>
import { order } from "@/api/get.js";
export default {
  name: "",
  data() {
    return {
      user_id: 0
    };
  },
  methods: {
    close() {
      this.$router.push({ path: "order" });
      order({ user_id: this.user_id, products: this.$store.state.lista }).then(
        res => {
          console.log(99, res);
           this.$notify({
          title: '成功',
          message: res.msg,
          type: 'success'
        });
        }
      );
    },
  },
  mounted() {
    this.user_id = JSON.parse(localStorage.getItem("num"));
  },
  computed: {
    num() {
      let numa = 0;
      this.$store.state.lista.forEach(item => {
        numa += item.num;
      });
      return numa;
    },
    numaa() {
      let numab = 0;
      this.$store.state.lista.forEach(item => {
        numab += item.num * item.price;
      });
      return numab;
    }
  },
  watch: {},
  components: {}
};
</script>

<style lang='scss' scoped>
.confirmOrder {
  width: 100%;
  height: 100%;
  top: 16%;
  left: 0;
  position: absolute;
  .title {
    width: 80%;
    height: 40px;
    left: 13%;
    top: 3%;
    position: absolute;
    font-size: 23px;
    span {
      margin-left: 10px;
    }
    .title-i {
      color: orange;
    }
  }
  // 内容
  .cont {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 8%;
    border-top: 3px solid orange;
    background: #f5f5f5;
    .cont_div {
      width: 80%;
      height: 100%;
      top: 2%;
      left: 13%;
      position: absolute;
      background: white;
      .cont_div_p {
        font-size: 18px;
        margin-top: 30px;
        margin-left: 50px;
      }
      .location {
        width: 300px;
        height: 200px;
        border: 1px solid orange;
        margin-left: 50px;
        margin-top: 20px;
        float: left;
        p {
          margin-top: 20px;
          margin-left: 30px;
          font-size: 18px;
          .name {
            font-weight: bold !important;
          }
        }
      }
      .locationa {
        float: left;
        width: 300px;
        height: 200px;
        border: 1px solid #000;
        margin-left: 50px;
        margin-top: 20px;
        p {
          margin-top: 20px;
          margin-left: 30px;
          font-size: 18px;
          .name {
            font-weight: bold !important;
          }
        }
        .locationa_i {
          font-size: 40px;
          margin-left: 45%;
          margin-top: 20%;
        }
        .dizhi {
          margin-left: 100px;
          margin-top: 20px;
          display: block;
          font-size: 20px;
        }
      }
      .coupon {
        margin-top: 260px;
        font-size: 20px;
        margin-left: 60px;
        border-bottom: 1px solid #000;
        margin-right: 20px;
        padding-bottom: 10px;
      }
      .apply {
        width: 95%;
        height: 60px;
        // border: 1px solid #000;
        border-bottom: 1px solid #000;
        margin-left: 60px;
        margin-top: 20px;
        .apply_img {
          margin-top: 10px;
          width: 40px;
          height: 40px;
          border: 1px solid #000;
        }
        .apply_name {
          margin-left: 60px;
          display: block;
          margin-top: -30px;
        }
        .subtotal {
          margin-left: 1000px;
          margin-top: -15px;
          display: block;
        }
        .prce {
          margin-left: 1300px;
          margin-top: -15px;
          display: block;
          color: orange;
        }
      }
      .distribution {
        width: 95%;
        height: 60px;
        border-bottom: 1px solid #000;
        margin-left: 60px;
        // margin-top: 10px;
        .distribution_cont {
          font-size: 20px;
          display: block;
          margin-top: 30px;
        }
        .postage {
          font-size: 16px;
          display: block;
          margin-left: 170px;
          margin-top: -25px;
          color: orange;
        }
        .postagea {
          font-size: 16px;
          display: block;
          margin-left: 260px;
          margin-top: -20px;
          color: orange;
        }
        .postageb {
          font-size: 16px;
          display: block;
          margin-left: 300px;
          margin-top: -20px;
          color: orange;
        }
      }
      .distributionA {
        width: 95%;
        height: 260px;
        border-bottom: 1px solid #000;
        margin-left: 60px;
        p {
          margin-top: 20px;
          margin-left: 1200px;
          .origin {
            color: orange;
            text-align: right !important;
          }
          .price {
            font-size: 30px;
          }
        }
      }
      .btn {
        float: right;
        margin-right: 10px;
        margin-top: 20px;
      }
    }
  }
}
</style>
