<template>
  <div class="details">
    <!-- 名称 -->
   <div class="details_top">
       <p class="p" v-for="(item,index) in information" :key="index">
          <span>{{item.product_name}}</span>
          <!-- 右侧 -->
          <span class="roght">
              <span>概述</span>
              <span>参数</span>
              <span>用户评价</span>
          </span>
       </p>
   </div>
   <!-- 渲染的详情 -->
   <div class="details_cont">
       <!-- 左侧轮播 -->
       <div class="carousel">
        <div class="block">
            <el-carousel trigger="click" height="530px">
            <el-carousel-item v-for="(item,index) in carouselA" :key="index">
                <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="carouselA_img">
            </el-carousel-item>
            </el-carousel>
        </div>
       </div>
       <!-- 右侧的内容 -->
       <div class="right" v-for="(item,index) in information" :key="index">
         <!-- 右侧内容的渲染 -->
         <!-- 名称 -->
         <p class="right_name">{{item.product_name}}</p>
         <!-- 简介 -->
         <span class="intro">{{item.product_intro}}</span>
         <!-- 小米自营 -->
         <span class="proprietary">小米自营</span>
         <!-- 价位 -->
         <span class="newPrice">{{item.product_selling_price}}元</span>
         <s class="oldPrice">{{item.product_price}}元</s>
         <!-- 横线 -->
         <div class="striping"></div>
         <!-- 中间的价位的盒子 -->
         <div class="priceDiv">
           <!-- 名字 -->
           <p class="priceDiv_p">
             <span>{{item.product_name}}</span>
             <!-- 新老价位 -->
             <span class="price">
               <span class="priceDiv_newPrice">{{item.product_selling_price}}元</span>
               <s class="priceDiv_oldPrice">{{item.product_price}}元</s>
             </span>
           </p>
           <!-- 总价 item.product_selling_price-->
           <span class="totalPrices">总价：{{item.product_selling_price}}</span>
         </div>
         <!-- 加入和喜欢的按钮 -->
         <div class="bun">
           <el-button type="warning" @click="addClick(item)">加入购物车</el-button>
           <el-button type="info" class="like" @click="add(item)">喜欢</el-button>
         </div>
        <!-- 小米自营 -->
        <div class="ending">
          <span>
            <i class="el-icon-circle-check"></i>
            <span>小米自营</span>
          </span>
          <span>
            <i class="el-icon-circle-check"></i>
            <span>小米发货</span>
          </span>
          <span>
            <i class="el-icon-circle-check"></i>
            <span>7天无理由退货</span>
          </span>
          <span>
            <i class="el-icon-circle-check"></i>
            <span>7天价格保护</span>
          </span>
        </div>
       </div>
   </div>
  </div>
</template>

<script>
import { skip, carousel, love,addShopping,AddShopping } from "@/api/get.js";
export default {
  name: "",
  data() {
    return {
      // 接收点击传递过来的id
      itema: this.$route.query.iteman,
      //  获取点击之后的渲染的数据
      information: [],
      // 获取轮播图的数据
      carouselA: [],
      user_id: 0,
      id: ""
    };
  },
  methods: {
    //   获取点击之后传递过来需要渲染的数据
    list() {
      skip({ productID: this.itema }).then(res => {
        this.information = res.Product;
      });
    },
    // 轮播图的数据
    list1() {
      carousel({ productID: this.itema }).then(res => {
        this.carouselA = res.ProductPicture;
      });
    },
    // 点击喜欢加入我的收藏
    add(item) {
      love({ user_id: this.user_id, product_id: item.product_id }).then(res => {
        this.$notify({
          title: "成功",
          message: res.msg,
          type: "success"
        });
      });
    },
    // 加入购物车
    addClick(item){
      console.log(126,item);
      addShopping({user_id:this.user_id,product_id:item.product_id}).then(res=>{
        console.log(127,res);
        this.$notify({
          title: '成功',
          message:res.msg,
          type: 'success'
        });
      })
    }
  },
  mounted() {
    // 获取的是点击之后需要渲染的数据
    this.list();
    // 获取的轮播图的数据
    this.list1();
    this.user_id = JSON.parse(localStorage.getItem("num"));
  },
  computed: {},
  watch: {},
  components: {}
};
</script>

<style lang='scss' scoped>
.details {
  width: 100%;
  height: 100%;
  position: absolute;
  // border: 1px solid #000;
  top: 17%;
  // 顶部的 名称
  .details_top {
    width: 100%;
    height: 8%;
    box-shadow: 0px 3px 10px #e0e0e0;
    p {
      width: 80%;
      height: 100%;
      position: absolute;
      left: 13%;
      font-size: 20px;
      padding-top: 10px;
      top: 2%;
      .roght {
        float: right;
        span {
          margin-left: 10px;
          font-size: 16px;
        }
        span:hover {
          color: orange;
        }
      }
    }
  }
  // 渲染的详情
  .details_cont {
    width: 80%;
    height: 70%;
    position: absolute;
    left: 13%;
    top: 13%;
    // 轮播
    .carousel {
      width: 40%;
      top: 10%;
      position: absolute;
      height: 80%;
      .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        margin: 0;
      }

      .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
      }

      .el-carousel__item:nth-child(2n + 1) {
        background-color: #d3dce6;
      }
      .carouselA_img {
        width: 100%;
        height: 100%;
      }
    }
    // 右侧的内容
    .right {
      position: absolute;
      width: 60%;
      top: 10%;
      height: 80%;
      right: 0;
      // 名字
      .right_name {
        font-size: 26px;
        margin-left: 10px;
      }
      // 简介
      .intro {
        margin-left: 10px;
        font-size: 13px;
        display: block;
        margin-top: 13px;
        color: #b0b0b0;
      }
      // 小米自营
      .proprietary {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 13px;
        color: orange;
        display: block;
      }
      // 新的价位
      .newPrice {
        font-size: 20px;
        color: orange;
        margin-left: 10px;
        margin-top: 30px;
        display: block;
      }
      // 老的价位
      .oldPrice {
        font-size: 16px;
        color: #d3dce6;
        margin-left: 90px;
        margin-top: -23px;
        display: block;
      }
      // 横线
      .striping {
        width: 100%;
        margin-top: 40px;
        border-bottom: 1px solid #ccc;
      }
      // 价位的盒子
      .priceDiv {
        width: 100%;
        height: 30%;
        background: #f9f9fa;
        margin-top: 70px;
        // 名字还有新老价位
        .priceDiv_p {
          top: 20%;
          position: relative;
          margin-left: 10%;
          margin-right: 10%;
          font-size: 13px;
          .price {
            float: right;
            span {
              margin-right: 10px;
            }
          }
        }
        // 总价
        .totalPrices {
          font-size: 30px;
          color: orange;
          bottom: 25%;
          margin-left: 80px;
          position: absolute;
        }
      }
      // 假如购物车 喜欢按钮
      .bun {
        width: 100%;
        height: 60px;
        padding-bottom: 20px;
        padding-top: 20px;
        .el-button {
          padding: 30px 200px;
        }
      }
      // 结尾
      .ending {
        width: 100%;
        height: 30px;
        font-size: 17px;
        margin-top: 10px;
        color: #cccccc;
        span {
          margin-right: 50px;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
</style>
