<template>
  <div class="godos">
  <!-- 头部面包屑盒子 -->
    <div class="Breadcrumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>全部商品</el-breadcrumb-item>
        <el-breadcrumb-item>分类</el-breadcrumb-item>
      </el-breadcrumb>
      <!-- 分类 -->
      <div class="classify">
        <span class="classifyCont">分类</span>
        <span class="classifyContOne" @click="flag=0" :class="{active:flag==0}">全部</span>
        <span class="classifyContOne" v-for="(item,index) in classifyList" :key="index" @click="ClickAA(item.category_id)" :class="{active:flag==item.category_id}">{{item.category_name}}</span>
      </div>
    </div>
    <!-- 页面的渲染 -->
    <div class="rendering" v-if="flag==0">
      <div class="renderingCont">
        <div class="list" v-for="(item,index) in renderingList" :key="index" @click="ClickA(item.product_id)">
          <!-- 图片 -->
          <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="list_img">
           <div class="phoneRight_cont">
                <!-- 名字 -->
                <p class="name">{{item.product_name}}</p>
                <!-- 标题 -->
                <p class="title">{{item.product_title}}</p>
                <!-- 价位 -->
                <p>
                  <span class="newPrice">{{item.product_selling_price}}元</span>
                  <s class="oldPrice">{{item.product_price}}元</s>
                </p>
             </div>
        </div>
        <!-- 分页部分 -->
      <div class="block">
        <el-pagination
          :page-size="pagesize"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="numa">
        </el-pagination>
      </div>
      </div>
    </div>
    <div class="rendering" v-else>
      <div class="renderingCont">
        <div class="list" v-for="(item,index) in getliat" :key="index" @click="ClickA1(item.product_id)">
          <!-- 图片 -->
          <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="list_img">
           <div class="phoneRight_cont">
                <!-- 名字 -->
                <p class="name">{{item.product_name}}</p>
                <!-- 标题 -->
                <p class="title">{{item.product_title}}</p>
                <!-- 价位 -->
                <p>
                  <span class="newPrice">{{item.product_selling_price}}元</span>
                  <s class="oldPrice">{{item.product_price}}元</s>
                </p>
             </div>
        </div>
        <!-- 分页部分 -->
      <div class="block">
        <el-pagination
          :page-size="pagesize"
          @size-change="handleSizeChange"
          :current-page="currentPage4"
          @current-change="handleCurrentChange"
          layout="prev, pager, next"
          :total="numa">
        </el-pagination>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getSortTab, getSort, getOther,GetSearch } from "@/api/get.js";
export default {
  name: "",
  data() {
    return {
      // 头部分类数据的获取
      classifyList: [],
      // 头部的点击切换
      flag: 0,
      // 总的条数
      numa: 0,
      pagesize: 15,
      // currentPage4: 1,
      pagenum: 1,
      // 渲染数据的获取
      renderingList: [],
      // 分类数据的获取
      getliat: [],
      id: "",
      in: this.$route.query.in || ""
    };
  },
  methods: {
    // 头部分类的数据的获取
    list() {
      getSortTab().then(res => {
        this.classifyList = res.category;
      });
    },
    // 头部点击切换变色
    ClickAA(id) {
      this.flag = id;
      if (this.flag == 0) {
        this.list2();
      } else {
        getOther({
          categoryID: this.flag,
          currentPage: this.pagenum,
          pageSize: this.pagesize
        }).then(res => {
          this.getliat = res.Product;
          this.numa = res.total;
        });
      }
    },
    // 分类的数据的全部
    list2() {
      if (this.in != "") {
        GetSearch({
          search: this.in,
          currentPage: this.pagenum,
          pageSize: this.pagesize
        }).then(res => {
          console.log(res);
          this.renderingList = res.Product;
          this.numa = res.total;
        });
      } else {
        getSort({
          categoryID: [],
          currentPage: this.pagenum,
          pageSize: this.pagesize
        }).then(res => {
          this.renderingList = res.Product;
          this.numa = res.total;
        });
      }
    },
    //   分页器页数
    handleSizeChange(val) {
      this.pagesize = val;
      this.list2();
      //   console.log(`每页 ${val} 条`);
    },
    // 分页器当前页
    handleCurrentChange(val) {
      this.pagenum = val;
      this.list2();
    },
    // 点击跳转详情
    ClickA(item) {
      this.$router.push({ path: "/details", query: { iteman: item } });
    },
    ClickA1(item) {
      this.$router.push({ path: "/details", query: { iteman: item } });
    }
  },
  mounted() {
    // 头部分类的数据的获取
    this.list();
    // 分类数据的全部的获取
    this.list2();
  },
  computed: {},
  watch: {},
  components: {}
};
</script>

<style lang='scss' scopd>
// 总
.godos {
  width: 100%;
  height: 100%;
  top: 21%;
  position: absolute;
}
// 面包屑盒子
.Breadcrumb {
  width: 80%;
  height: 7%;
  left: 13%;
  // border: 1px solid #000;
  position: absolute;
  padding-top: 20;
}
// 面包屑的字体
.el-breadcrumb {
  font-size: 18px;
  line-height: 1;
}
// 分类的盒子
.classify {
  width: 60%;
  height: 30px;
  bottom: 0;
  left: 0;
  position: absolute;
  .classifyCont {
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #e4e7ed;
    padding: 3px 10px;
    display: inline-block;
    margin-top: 0px;
  }
  .classifyContOne {
    font-size: 17px;
    border: 1px solid #e4e7ed;
    padding: 3px 10px;
    display: inline-block;
    margin-top: 0px;
  }
  .active {
    color: skyblue;
    border-bottom: 0px;
  }
}
// 列表的渲染
.rendering {
  width: 100%;
  height: 1200px;
  background: #f5f5f5;
  top: 10%;
  position: absolute;
  left: 0;
}
.renderingCont {
  width: 80%;
  height: 100%;
  left: 13%;
  position: absolute;
}
// 单个盒子
.list {
  width: 294px;
  height: 360px;
  margin-top: 10px;
  background: white;
  // margin-bottom: 20px;
  float: left;
  margin-right: 10px;
  .list_img {
    width: 160px;
    height: 170px;
    margin-left: 70px;
  }
  .phoneRight_cont {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    p {
      text-align: center;
    }
    // 名字
    .name {
      font-size: 18px;
      margin-bottom: 10px;
    }
    // 标题
    .title {
      margin-bottom: 10px;
      font-size: 14px;
      color: #b0b0b0;
    }
    // 新老价位
    .newPrice {
      color: red;
      margin-right: 5px;
    }
    .oldPrice {
      color: #b0b0b0;
    }
  }
}
.list:hover {
  box-shadow: 2px 2px 10px #06c;
}
// 分页部分
.block {
  margin-top: 1150px;
  text-align: center;
}
</style>
