<template>
 <div class="home">
  <!-- 轮播模块 -->
  <div class="home_top">
     <div class="block">
        <el-carousel trigger="click" height="480px">
          <el-carousel-item v-for="(item,index) in Swiper" :key="index">
           <img :src="'http://106.15.179.105/api/'+item.imgPath" alt="" class="swiperImg">
          </el-carousel-item>
        </el-carousel>
     </div>
  </div>
  <!-- 手机整体 -->
  <div class="Phone">
    <!-- 手机 -->
    <div class="phone">
      <p class="phoneTitle">手机</p>
        <!-- 左侧的大图片 -->
        <div class="phoneLeft">
          <img src="../../public/phone.png" alt="" class="phoneLeft_img">
        </div>
        <div class="phoneR">
           <div v-for="(item,index) in phone" :key="index" class="phoneRight" @click="ClickA(item.product_id)">
             <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="phoneRight_img">
             <div class="phoneRight_cont">
                <!-- 名字 -->
                <p class="name">{{item.product_name}}</p>
                <!-- 标题 -->
                <p class="title">{{item.product_title}}</p>
                <!-- 价位 -->
                <p>
                  <span class="newPrice">{{item.product_selling_price}}元</span>
                  <s class="oldPrice">{{item.product_price}}元</s>
                </p>
             </div>
           </div>
           <div class="phoneRightOne">
             <p>浏览更多》》</p>
           </div>
        </div>
    </div>
    <!-- 组件 -->
    <appliancesA :appliances="appliances" :TvList="TvList" :collocate="collocate" :jacket="jacket" :charger="charger"></appliancesA>
  </div>
</div>
</template>

<script>
import { getSwiper, getList,getList2 } from "@/api/get.js";
import appliancesA from '@/components/appliancesA'
export default {
  name: "",
  data() {
    return {
      // 轮播图数据
      Swiper: [],
      // 手机数据
      phone: [],
      // 家电的数据 热门的
      appliances:[],
      // 家电的数据 电视剧
      TvList:[],
      // 配置热门
      collocate:[],
      // 配置的保护套
      jacket:[],
      // 配置的充电器
      charger:[]
    };
  },
  methods: {
    // 轮播图的数据获取
    list() {
      getSwiper().then(res => {
        this.Swiper = res.carousel;
        // console.log(33, this.Swiper);
      });
    },
    // 手机数据的获取
    listPhone() {
      getList({ categoryName: "手机" }).then(res => {
        this.phone = res.Product;
        // console.log(this.phone);
      });
        // 家电的电视数据
      getList({categoryName: "电视机"}).then(res => {
        this.TvList = res.Product;
        // console.log(81,this.TvList);
      });
      // 配件的保护套
      getList({categoryName: "保护套"}).then(res => {
        this.jacket = res.Product;
        // console.log(81,this.TvList);
      });
      // 配件的保护套
      getList({categoryName: "充电器"}).then(res => {
        this.charger = res.Product;
        // console.log(81,this.TvList);
      });
    },
    // 家电数据的获取 热门
    listTv(){
      getList2({categoryName: ["电视机", "空调", "洗衣机"]}).then(res=>{
        this.appliances=res.Product
        // console.log(81,this.appliances);
      })
      // 配置 热门
      getList2({categoryName: ["保护套", "保护膜", "充电器", "充电宝"]}).then(res=>{
        this.collocate=res.Product
      })
    },
    // 点击跳转详情
    ClickA(item){
      this.$router.push({path:'/details',query:{iteman:item}})
    }
  },
  mounted() {
    // 轮播图的数据的获取
    this.list();
    // 手机数据的获取
    this.listPhone();
    // 家电数据获取
    this.listTv()
  },
  computed: {},
  watch: {},
  components: {
    // 电视组件
    appliancesA
  }
};
</script>

<style lang='scss' scoped>
.home {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  top: 16%;
  position: absolute;
  // 轮播模块
  .home_top {
    width: 80%;
    height: 46%;
    left: 13%;
    position: absolute;
    .el-carousel__item h3 {
      // color: #475669;
      font-size: 14px;
      opacity: 0.75;
      margin: 0;
    }
    .swiperImg {
      width: 100%;
      height: 100%;
    }
  }
  // 手机整体模块
  .Phone {
    width: 100%;
    // height: 100%;
    background: #f5f5f5;
    margin-top: 26%;
    // 手机部分
    .phone {
      width: 80%;
      margin-top: 10%;
      height: 80%;
      margin-left: 13%;
      .phoneTitle {
        font-size: 18px;
        padding-top: 20px;
      }
      // 左侧的大图片
      .phoneLeft {
        width: 13%;
        height: 90%;
        margin-top: 1.7%;
        .phoneLeft_img {
          width: 100%;
          height: 100%;
        }
      }
      // 滑过显示边框
      .phoneLeft:hover {
        box-shadow: 2px 2px 10px #06c;
      }
      // 右侧小图片
      .phoneR {
        width: 87%;
        height: 90%;
        float: right;
        margin-top: -34.5%;
        .phoneRight {
          width: 23.85%;
          height: 253px;
          float: left;
          margin-bottom: 1%;
          background: white;
          margin-left: 1%;
          // 图片
          .phoneRight_img {
            width: 80px;
            height: 100px;
            margin-top: 20px;
            margin-left: 36%;
          }
          // 渲染的文字
          .phoneRight_cont {
            width: 100%;
            height: 50px;
            margin-top: 20px;
            p {
              text-align: center;
            }
            // 名字
            .name {
              font-size: 18px;
              margin-bottom: 10px;
            }
            // 标题
            .title {
              margin-bottom: 5px;
              font-size: 14px;
              color: #b0b0b0;
            }
            // 新老价位
            .newPrice {
              color: red;
              margin-right: 5px;
            }
            .oldPrice {
              color: #b0b0b0;
            }
          }
        }
        // 滑过显示边框阴影
        .phoneRight:hover {
          box-shadow: 2px 2px 10px #06c;
        }
        // 最后一个div
        .phoneRightOne {
          width: 23.85%;
          height: 253px;
          float: left;
          margin-bottom: 1%;
          background: white;
          margin-left: 1%;
          p {
            text-align: center;
            font-size: 18px;
            line-height: 280px;
          }
        }
        // 滑过显示边框阴影
        .phoneRightOne:hover {
          box-shadow: 2px 2px 10px #06c;
        }
      }
    }
  }
}
</style>
