<template>
   <div class="order">
    <!-- 标题 -->
     <p class="title">
        <i class="el-icon-s-order"></i>
        <span>我的订单</span>
     </p>
     <!-- 内容 -->
     <div class="cont">
       <div class="cont_cont" v-for="(item,index) in lista" :key="index">
         <!-- 订单编号 -->
         <div class="left">
           <span class="left_cont">订单编号：<span>{{item[0].order_id}}</span></span>
           <span class="right_cont">订单时间：<span>{{item[0].order_time|dateFormat}}</span></span>
         </div>
         <table  cellspcing="0" cellspadding="20">
           <thead>
             <tr>
               <th>商品名称</th>
               <th>单价</th>
               <th>数量</th>
               <th>小计</th>
             </tr>
           </thead>
           <tbody>
             <tr v-for="(itema,index) in item" :key="index">
               <td>
                 <img :src="'http://106.15.179.105/api/'+itema.product_picture" alt="">
                 {{itema.product_name}}
               </td>
               <td>
                 <span>{{itema.product_price}}元</span>
               </td>
               <td>
                 <span>{{itema.product_num}}</span>
               </td>
               <td>
                 <span>{{itema.product_num*itema.product_price}}元</span>
               </td>
             </tr>
           </tbody>
         </table>
         <div class="btn">
           <span class="btn_left">共 <span v-text="numA(item)"></span> 件商品</span>
           <span class="btn_right">合计<span> <span v-text="numB(item)"> </span> 元</span></span>
         </div>
       </div>
     </div>
  </div>
</template>
// {{dateStr}}
<script>
import { ordera } from "@/api/get.js";
export default {
  name: "",
  data() {
    return {
      user_id: 0,
      lista: []
    };
  },
  methods: {
    list() {
      let user_id = localStorage.getItem("num");
      ordera({ user_id: parseInt(user_id) }).then(res => {
        this.lista = res.orders;
        // order_id product_picture product_name product_price product_num
      });
    },
    numA(item) {
      let num = 0;
      item.forEach(item1 => {
        num += item1.product_num;
      });
      return num;
    },
    numB(item) {
      let num = 0;
      item.forEach(item1 => {
        num += item1.product_num*item1.product_price;
      });
      return num;
    }
  },
  mounted() {
    this.list();
    this.user_id = JSON.parse(localStorage.getItem("num"));
  },
  computed: {},
  watch: {},
  components: {}
};
</script>

<style lang='scss' scoped>
.order {
  width: 100%;
  // height: 100%;
  position: absolute;
  top: 18%;
  //   标题
  .title {
    width: 80%;
    height: 30px;
    position: absolute;
    left: 13%;
    i {
      font-size: 30px;
      color: orange;
      margin-right: 10px;
    }
    span {
      font-size: 30px;
    }
  }
  //   内容
  .cont {
    width: 100%;
    // height: 100%;
    background: #f5f5f5;
    border-top: 2px solid orange;
    position: relative;
    top: 6%;
    left: 0;
    .cont_cont {
      width: 80%;
      margin-left: 13%;
      margin-top: 20px;
      margin-bottom: 20px;
      background: white;
      height: 340px;
      .left {
        width: 100%;
        border-bottom: 1px solid orange;
        height: 50px;
        .left_cont {
          margin-left: -1220px;
          margin-top: 10px;
          display: block;
          color: orange;
          span {
            color: orange;
            font-size: 15px;
          }
        }
        .right_cont {
          margin-left: 1120px;
          margin-top: -20px;
          display: block;
          span {
            font-size: 15px;
          }
        }
      }
      table {
        margin-top: 60px;
        margin-left: -1520px;
        width: 100%;
        height: 110px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .btn {
        width: 100%;
        height: 40px;
        border-top: 1px solid orange;
        margin-top: 250px;
        margin-left: -1500px;
        .btn_left {
          margin-left: -1400px;
          margin-top: 5px;
          display: block;
          font-size: 15px;
        }
        .btn_right {
          margin-left: 1350px;
          margin-top: -15px;
          display: block;
          font-size: 15px;
          span {
            font-size: 23px;
          }
        }
      }
    }
  }
}
</style>
