<template>
   <div class="order">
    <!-- 标题 -->
     <p class="title">
        <i class="el-icon-shopping-cart-2"></i>
        <span>我的购物车</span>
        <span class="reminder">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</span>
     </p>
     <!-- 内容 -->
     <div class="cont">
       <!-- 渲染的盒子 -->
       <div class="cont_cont">
         <table  cellspacing="0" cellspadding="20">
           <thead>
             <tr>
               <th>
                 <input type="checkbox" :value="fals" v-model="fals" @change="checkAll">全选
               </th>
               <th>
                 <span>商品名称</span>
               </th>
               <th>
                 <span>单价</span>
               </th>
               <th>
                 <span>数量</span>
               </th>
               <th>
                 <span>小计</span>
               </th>
               <th>
                 <span>操作</span>
               </th>
             </tr>
           </thead>
           <tbody>
             <tr v-for="(item,index) in drawingList" :key="index">
               <td>
                 <input type="checkbox" :value="item.check" :checked="item.check" @change="fan(index)">
               </td>
               <td>
                 <img :src="'http://106.15.179.105/api/'+item.productImg" alt="" class="tabimg" >
                 <span class="cont_span">{{item.productName}}</span>
               </td>
               <td>
                 <span>{{item.price}}</span>
               </td>
               <td>
                 <span class="btn_num">
                   <button @click="del(item)">—</button>
                   <input type="text" v-model="item.num" class="numInput">
                   <button @click="add(item)">+</button>
                 </span>
               </td>
               <td>
                 <span class="subtotal">{{item.price*item.num}}</span>
               </td>
               <td>
                 <i class="el-icon-error" @click="delLIst(item)"></i>
               </td>
             </tr>
           </tbody>
         </table>
          <!-- 继续购物 -->
       <div class="continue">
         <span class="span">继续购物</span>
         <span class="commodity">共<span>{{drawingList.length}}</span>件商品，已选择<span>{{numPrice}}</span>件</span>
         <span class="price">合计：<span>{{numOne}}元</span></span>
         <button class="calculate" v-if="numOne>0?'':true">去计算</button>
         <button class="calculatea" v-else @click="switchover()">去计算</button>
       </div>
       </div>
     </div>
  </div>
</template>

<script>
import { drawing, revampShopping, deiList } from "@/api/get.js";
export default {
  name: "",
  data() {
    return {
      user_id: 0,
      // 渲染的数据
      drawingList: [],
      fals: false,
      arr: [],
      listAlist:[]
    };
  },
  methods: {
    // 渲染的数据
    list() {
      drawing({ user_id: this.user_id }).then(res => {
        this.drawingList = res.shoppingCartData;
      });
    },
    // 数量的增加
    add(item) {
      item.num++;
      revampShopping({
        user_id: this.user_id,
        product_id: item.productID,
        num: item.num
      }).then(res => {
        this.$notify({
          title: "成功",
          message: res.msg,
          type: "success"
        });
      });
    },
    // 数量的减少
    del(item) {
      item.num--;
      revampShopping({
        user_id: this.user_id,
        product_id: item.productID,
        num: item.num
      }).then(res => {
        this.$notify({
          title: "成功",
          message: res.msg,
          type: "success"
        });
      });
    },
    // 删除数据
    delLIst(item) {
      deiList({ user_id: this.user_id, product_id: item.productID }).then(
        res => {
          this.list();
          this.$notify({
            title: "成功",
            message: res.msg,
            type: "success"
          });
        }
      );
    },
    // 全选
    checkAll() {
      this.drawingList.forEach(item => {
        item.check = this.fals;
      });
    },
    fan(index) {
      this.drawingList[index].check = !this.drawingList[index].check;
      let numa = 0;
      this.drawingList.forEach(item => {
        if (item.check) {
          numa++;
        }
      });
      if (numa == this.drawingList.length) {
        this.arr = true;
      } else {
        this.arr = false;
      }
    },
    // 点击结算
    switchover(){
      this.drawingList.forEach(item=>{
        if(item.check){
          this.listAlist.push(item)
          this.$store.commit('add',this.listAlist)
         this.$router.push({path:'confirmOrder'})
        }
      })
    }
  },
  mounted() {
    this.user_id = JSON.parse(localStorage.getItem("num"));
    this.list();
  },
  computed: {
    // 件数
    numPrice() {
      let nua = 0;
      this.drawingList.forEach(item => {
        if (item.check) {
          nua += item.num;
        }
      });
      return nua;
    },
    // 总价
    numOne(){
        let nuab = 0;
      this.drawingList.forEach(item => {
        if (item.check) {
          nuab += item.num*item.price;
        }
      });
      return nuab;
    }
  },
  watch: {},
  components: {}
};
</script>

<style lang='scss' scoped>
.order {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 18%;
  //   标题
  .title {
    width: 80%;
    height: 30px;
    position: absolute;
    left: 13%;
    i {
      font-size: 30px;
      color: orange;
      margin-right: 10px;
    }
    span {
      font-size: 30px;
    }
    .reminder {
      font-size: 14px !important;
      margin-left: 20px;
    }
  }
  //   内容
  .cont {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border-top: 2px solid orange;
    position: relative;
    top: 6%;
    left: 0;
    .cont_cont {
      width: 70%;
      height: 80px;
      background: white;
      margin-top: 20px;
      float: left;
      margin-right: 10%;
      table {
        margin-bottom: 10%;
        width: 100%;
        th {
          line-height: 60px;
        }
        td {
          line-height: 100px;
          background: white;
          border-top: 1px solid #000;
          // 图片
          .tabimg {
            width: 50px;
            float: left;
            height: 50px;
            border: 1px solid #000;
            margin-top: 20px;
          }
          // 名称
          .cont_span {
            margin-top: -5px;
            margin-left: 20px;
            float: left;
          }
          // 数量
          .numInput {
            text-align: center;
            width: 60px;
            height: 34px;
            border-top: 1px solid #c0c4cc;
            border-bottom: 1px solid #c0c4cc;
            border-left: 0;
            border-right: 0;
          }
          button {
            padding: 10px 20px;
            border: 1px solid #c0c4cc;
            background: #f5f7fa;
          }
          .subtotal {
            color: orange;
          }
        }
      }
      // 继续购物
      .continue {
        width: 70%;
        height: 50px;
        background: white;
        position: absolute;
        top: 70%;
        left: 16%;
        // 继续购物的样式
        .span {
          margin-top: 1%;
          display: block;
          margin-left: -90%;
        }
        // 选择几件商品
        .commodity {
          margin-top: -1.8%;
          display: block;
          margin-left: -70%;
        }
        // 合计
        .price {
          margin-top: -1.8%;
          display: block;
          margin-left: 70%;
        }
        // 去计算
        .calculate {
          margin-top: -2.7%;
          display: block;
          margin-left: 90.5%;
          background: #e0e0e0;
          border: 0;
          padding: 18px 45px;
        }
        .calculatea {
          margin-top: -2.7%;
          display: block;
          margin-left: 90.5%;
          background: orange;
          border: 0;
          padding: 18px 45px;
        }
      }
    }
  }
}
</style>
