<template>
  <div>
    <div class="phone">
      <span class="phoneTitle">家电</span>
      <!-- 右侧标题 -->
      <p class="phoneTitRight">
        <span @mousemove="falg=0" :class="{active:falg==0}">热门</span>
        <span @mousemove="falg=1" :class="{active:falg==1}">电视影音</span>
      </p>
        <!-- 左侧的大图片 -->
       <div class="phoneLeft">
          <div class="phoneLeft_one">
            <img src="../../public/扫地机器人.png" alt="" class="phoneLeft_img" >
          </div>
          <div class="phoneLeft_one">
            <img src="../../public/小米净水器.png" alt="" class="phoneLeft_img">
          </div>
       </div>
       <div class="phoneR" v-if="falg==0">
          <div v-for="(item,index) in appliances" :key="index" class="phoneRight" @click="ClickA1(item.product_id)">
            <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="phoneRight_img">
            <!-- 文字的内容盒子 -->
           <div class="phoneRight_cont">
                <!-- 名字 -->
            <p class="name">{{item.product_name}}</p>
                <!-- 标题 -->
            <p class="title">{{item.product_title}}</p>
                <!-- 价位 -->
            <p>
              <span class="newPrice">{{item.product_selling_price}}元</span>
               <s class="oldPrice">{{item.product_price}}元</s>
            </p>
             </div>
           </div>
           <!-- 最后一个盒子 -->
           <div class="phoneRightOne">
             <p>浏览更多》》</p>
           </div>
        </div>
        <!-- 判断当falg==1的时候 -->
       <div class="phoneR" v-else>
          <div v-for="(item,index) in TvList" :key="index" class="phoneRight" @click="ClickA2(item.product_id)">
            <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="phoneRight_img">
            <!-- 文字的内容盒子 -->
           <div class="phoneRight_cont">
                <!-- 名字 -->
            <p class="name">{{item.product_name}}</p>
                <!-- 标题 -->
            <p class="title">{{item.product_title}}</p>
                <!-- 价位 -->
            <p>
              <span class="newPrice">{{item.product_selling_price}}元</span>
               <s class="oldPrice">{{item.product_price}}元</s>
            </p>
             </div>
           </div>
           <!-- 最后一个盒子 -->
           <div class="phoneRightOne">
             <p>浏览更多》》</p>
           </div>
        </div>
    </div>


    <!-- 第二个 -->
    <div class="phone">
      <span class="phoneTitle">配件</span>
      <!-- 右侧标题 -->
      <p class="phoneTitRight">
        <span @mousemove="falg=0" :class="{active:falg==0}">热门</span>
        <span @mousemove="falg=1" :class="{active:falg==1}">保护套</span>
        <span @mousemove="falg=2" :class="{active:falg==2}">充电器</span>
      </p>
        <!-- 左侧的大图片 -->
       <div class="phoneLeft">
          <div class="phoneLeft_one">
            <img src="../../public/配件11.png" alt="" class="phoneLeft_img" >
          </div>
          <div class="phoneLeft_one">
            <img src="../../public/配件22.png" alt="" class="phoneLeft_img">
          </div>
       </div>
       <div class="phoneR" v-if="falg==0">
          <div v-for="(item,index) in collocate" :key="index" class="phoneRight" @click="ClickA3(item.product_id)">
            <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="phoneRight_img">
            <!-- 文字的内容盒子 -->
           <div class="phoneRight_cont">
                <!-- 名字 -->
            <p class="name">{{item.product_name}}</p>
                <!-- 标题 -->
            <p class="title">{{item.product_title}}</p>
                <!-- 价位 -->
            <p>
              <span class="newPrice">{{item.product_selling_price}}元</span>
               <s class="oldPrice">{{item.product_price}}元</s>
            </p>
             </div>
           </div>
           <!-- 最后一个盒子 -->
           <div class="phoneRightOne">
             <p>浏览更多》》</p>
           </div>
        </div>
        <!-- 判断当falg==1的时候 -->
       <div class="phoneR" v-else-if="falg==1">
          <div v-for="(item,index) in jacket" :key="index" class="phoneRight" @click="ClickA4(item.product_id)">
            <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="phoneRight_img">
            <!-- 文字的内容盒子 -->
           <div class="phoneRight_cont">
                <!-- 名字 -->
            <p class="name">{{item.product_name}}</p>
                <!-- 标题 -->
            <p class="title">{{item.product_title}}</p>
                <!-- 价位 -->
            <p>
              <span class="newPrice">{{item.product_selling_price}}元</span>
               <s class="oldPrice">{{item.product_price}}元</s>
            </p>
             </div>
           </div>
           <!-- 最后一个盒子 -->
           <div class="phoneRightOne">
             <p>浏览更多》》</p>
           </div>
        </div>
        <!-- 判断当falg==1的时候 -->
       <div class="phoneR" v-else>
          <div v-for="(item,index) in charger" :key="index" class="phoneRight" @click="ClickA5(item.product_id)">
            <img :src="'http://106.15.179.105/api/'+item.product_picture" alt="" class="phoneRight_img">
            <!-- 文字的内容盒子 -->
           <div class="phoneRight_cont">
                <!-- 名字 -->
            <p class="name">{{item.product_name}}</p>
                <!-- 标题 -->
            <p class="title">{{item.product_title}}</p>
                <!-- 价位 -->
            <p>
              <span class="newPrice">{{item.product_selling_price}}元</span>
               <s class="oldPrice">{{item.product_price}}元</s>
            </p>
             </div>
           </div>
           <!-- 最后一个盒子 -->
           <div class="phoneRightOne">
             <p>浏览更多》》</p>
           </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "",
  props: ["appliances","TvList","collocate","jacket","charger"],
  data() {
    return {
      falg: 0
    };
  },
  methods: {
     ClickA1(item){
      console.log(114,item);
      this.$router.push({path:'/details',query:{iteman:item}})
    },
     ClickA2(item){
      console.log(114,item);
      this.$router.push({path:'/details',query:{iteman:item}})
    },
     ClickA3(item){
      console.log(114,item);
      this.$router.push({path:'/details',query:{iteman:item}})
    },
     ClickA4(item){
      console.log(114,item);
      this.$router.push({path:'/details',query:{iteman:item}})
    },
     ClickA5(item){
      console.log(114,item);
      this.$router.push({path:'/details',query:{iteman:item}})
    }
  },
  mounted() {},
  computed: {},
  watch: {},
  components: {}
};
</script>

<style lang='scss' scoped>
.phone {
  width: 80%;
  margin-top: 1%;
  height: 80%;
  margin-left: 13%;
  .phoneTitle {
    font-size: 18px;
    padding-top: 20px;
  }
  // 右侧
  .phoneTitRight {
    float: right;
    margin-right: 20px;
    font-size: 16px;
    span {
      margin-left: 20px;
    }
  }
  .active {
    color: orange;
    border-bottom: 2px solid orange;
  }
  // 左侧的大图片
  .phoneLeft {
    width: 13%;
    height: 90%;
    margin-top: 1.7%;
    .phoneLeft_one {
      width: 100%;
      height: 48%;
      margin-top: 10px;
      .phoneLeft_img {
        width: 100%;
        height: 100%;
      }
    }
  }
  // 滑过显示边框
  .phoneLeft_one:hover {
    box-shadow: 2px 2px 10px #06c;
  }
  // 右侧小图片
  .phoneR {
    width: 87%;
    height: 90%;
    float: right;
    margin-top: -34.5%;
    .phoneRight {
      width: 23.85%;
      height: 253px;
      float: left;
      margin-bottom: 1%;
      background: white;
      margin-left: 1%;
      // 图片
      .phoneRight_img {
        width: 80px;
        height: 100px;
        margin-top: 20px;
        margin-left: 36%;
      }
      // 渲染的文字
      .phoneRight_cont {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        p {
          text-align: center;
        }
        // 名字
        .name {
          font-size: 18px;
          margin-bottom: 10px;
        }
        // 标题
        .title {
          margin-bottom: 5px;
          font-size: 14px;
          color: #b0b0b0;
        }
        // 新老价位
        .newPrice {
          color: red;
          margin-right: 5px;
        }
        .oldPrice {
          color: #b0b0b0;
        }
      }
    }
    // 滑过显示边框阴影
    .phoneRight:hover {
      box-shadow: 2px 2px 10px #06c;
    }
    // 最后一个div
    .phoneRightOne {
      width: 23.85%;
      height: 253px;
      float: left;
      margin-bottom: 1%;
      background: white;
      margin-left: 1%;
      p {
        text-align: center;
        font-size: 18px;
        line-height: 280px;
      }
    }
    // 滑过显示边框阴影
    .phoneRightOne:hover {
      box-shadow: 2px 2px 10px #06c;
    }
  }
}
</style>
