<template>
  <div id="app">
    <!-- 头部 -->
   <div class="nav">
     <div class="nav_cont">
       <span class="span">
          <span class="span0" >
            <span v-if="!username" @click="ashorClick">登陆</span>
            <span v-else slot="reference" @click="visible = !visible" >欢迎{{username}}</span>
                        <el-popover
              placement="top"
              width="160"
              v-model="visible">
              <p>要退出登录吗？</p>
              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="visible = false">取消</el-button>
                <el-button type="primary" size="mini" @click="que">确定</el-button>
              </div>
            </el-popover>
          </span>
          <span class="span1">|</span>
          <span class="span2" @click="loginClick">注册</span>
       </span>
       <span class="span" @click="$router.push({path:'/order'})">我的订单</span>
       <span class="span" @click="$router.push({path:'/collect'})">我的收藏</span>
       <span class="span" @click="cut" >
         <i class="el-icon-shopping-cart-2"></i>
         购物车</span>
     </div>
   </div>
   <!-- 中间 -->
   <div class="cont">
    <img src="../public/logo.png" class="logo">
    <!-- 中间内容 -->
    <div class="cont_cont">
      <span @click="clicCut(0)" :class="{active:falg==0}">首页</span>
      <span @click="clicCut(1)" :class="{active:falg==1}">全部商品</span>
      <span @click="clicCut(2)" :class="{active:falg==2}">关于我们</span>
    </div>
    <!-- 右侧输入框 -->
    <div class="inputBox">
      <el-input v-model="input" placeholder="请输入内容"></el-input>
      <i class="el-icon-search" @click="search"></i>
    </div>
   </div>
   <!-- 注册的弹框 -->
   <div class="login" v-show="loginFalg">
     <div class="login_cont">
       <span class="white_cont">注册</span>
       <span class="loginOff" @click="loginOff">X</span>
       <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="30px" class="demo-ruleForm">
          <el-form-item  prop="name">
            <el-input placeholder="请输入账号" v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item  prop="password1">
            <el-input placeholder="请输入密码" v-model="ruleForm.password1" show-password class="password"></el-input>
          </el-form-item>
          <el-form-item  prop="password2">
            <el-input placeholder="请再次输入密码" v-model="ruleForm.password2" show-password class="password"></el-input>
          </el-form-item>
        </el-form>
       <el-button type="primary" class="btn" @click="loginClicka">注册</el-button>
     </div>
   </div>
   <!-- 点击登陆的弹框 -->
   <div class="ashore" v-show="ashoreFalg">
     <div class="ashore_cont">
        <span class="white_cont">登陆</span>
       <span class="loginOff" @click="ashorOff">X</span>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="30px" class="demo-ruleForm">
          <el-form-item  prop="namea">
            <el-input placeholder="请输入账号" v-model="ruleForm.namea"></el-input>
          </el-form-item>
          <el-form-item  prop="password1a">
            <el-input placeholder="请输入密码" v-model="ruleForm.password1a" show-password class="password"></el-input>
          </el-form-item>
        </el-form>
       <el-button type="primary" class="btn" @click="asClick">登陆</el-button>
     </div>
   </div>
    <router-view/>
  </div>
</template>

<script>
import { debark, name, logina } from "@/api/get.js";
export default {
  data() {
    return {
      falg: 0,
      // 搜索的输入框的内容
      input: "",
      // 点击跳转购物车
      falga: "",
      // 判断注册弹框的显示隐藏
      loginFalg: false,
      // 判断登陆弹框是否显示隐藏
      ashoreFalg: false,
      username: "",
      user_id: 0,
      // 登陆原本显示
      ashorClickB: true,
      // 名字原本的隐藏
      ashorClickA: false,
      visible: false,
      // 注册的名字
      ruleForm: {
        name: "",
        // 注册的密码
        password1: "",
        // 注册的再次输入密码
        password2: "",
        // 登陆的名字
        namea: "",
        // 登陆的密码
        password1a: ""
      },

      rules: {
        name: [
          { required: true, message: "请输入名称", trigger: "blur" },
          {
            min: 5,
            max: 16,
            message: "字母开头长度5-16之间允许数字字母下划线",
            trigger: "blur"
          }
        ],
        password1: [
          { required: true, message: "请输入密码", trigger: "blur" },
          {
            min: 6,
            max: 18,
            message: "字母开头长度6-18之间允许数字字母下划线",
            trigger: "blur"
          }
        ],
        password2: [
          { required: true, message: "请在此输入密码", trigger: "blur" },
          {
            min: 6,
            max: 18,
            message: "字母开头长度6-18之间允许数字字母下划线",
            trigger: "blur"
          }
        ],
        namea: [
          { required: true, message: "请输入名称", trigger: "blur" },
          {
            min: 5,
            max: 16,
            message: "字母开头长度5-16之间允许数字字母下划线",
            trigger: "blur"
          }
        ],
        password1a: [
          { required: true, message: "请输入密码", trigger: "blur" },
          {
            min: 6,
            max: 18,
            message: "字母开头长度6-18之间允许数字字母下划线",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    // 点击跳转页面
    clicCut(i) {
      this.falg = i;
      if (this.falg === 0) {
        this.$router.push({ path: "/" });
      } else if (this.falg === 1) {
        this.$router.push({ path: "/goods" });
      } else {
        this.$router.push({ path: "/about" });
      }
    },
    // 点击跳转购物车
    cut(i) {
      this.falga == i;
      this.$router.push({ path: "/shoppingCart" });
    },
    // 点击注册让弹框显示
    loginClick() {
      this.loginFalg = true;
    },
    // 点击取消弹框隐藏
    loginOff() {
      this.loginFalg = false;
    },
    // 点击注册
    loginClicka() {
      // 1.先判断两次的密码是否相同
      if (this.ruleForm.password1 === this.ruleForm.password2) {
        // 判断注册是否重复
        name({ userName: this.ruleForm.name }).then(res => {
          // 不存在可以注册
          if (res.msg === "用户名不存在，可以注册") {
            // 注册
            debark({
              userName: this.ruleForm.name,
              password: this.ruleForm.password1
            }).then(res => {
              // 验证密码是否合法
              if (
                res.msg ===
                "密码不合法(以字母开头，长度在6~18之间，只能包含字母、数字和下划线)"
              ) {
                this.$notify.error({
                  title: "错误",
                  message:
                    "密码不合法(以字母开头，长度在6~18之间，只能包含字母、数字和下划线)"
                });
                return false;
              } else {
                // 成功注册
                if (res.msg === "注册成功") {
                  localStorage.setItem("arr", this.ruleForm.name);
                }
                if (localStorage.getItem("arr")) {
                  this.userName = localStorage.getItem("arr");
                }
                this.$notify({
                  title: "注册成功",
                  message: "恭喜你注册成功",
                  type: "success"
                });
                // 弹框的消失
                this.loginFalg = false;
                // 各个弹框的内容的消失
                (this.ruleForm.name = ""),
                  (this.ruleForm.password1 = ""),
                  (this.ruleForm.password2 = "");
              }
            });
          } else {
            // 若存在的话就 return出去
            this.$notify.error({
              title: "错误",
              message: "用户名已经存在，不能再次注册"
            });
            return false;
          }
        });
      } else {
        this.$notify.error({
          title: "错误",
          message: "两次密码是不相同的"
        });
        return false;
      }
    },
    // 点击登陆显示登陆的弹框
    ashorClick() {
      this.ashoreFalg = true;
    },
    // 点击登陆弹框的取消
    ashorOff() {
      this.ashoreFalg = false;
    },
    // 点击登陆的登陆按钮
    asClick() {
      logina({
        userName: this.ruleForm.namea,
        password: this.ruleForm.password1a
      }).then(res => {
        if ((res.code = "001")) {
          localStorage.setItem("arr", this.ruleForm.namea);
          localStorage.setItem("num", res.user.user_id);
          if (localStorage.getItem("arr")) {
            this.userName = localStorage.getItem("arr");
          }
          this.$notify({
            title: "登陆成功",
            message: "恭喜你登陆成功",
            type: "success"
          });
          // 登录的显示隐藏
          this.ashorClickB = false;
          // 欢迎的显示隐藏
          this.ashorClickA = true;
        }
        // 登录的弹框的隐藏
        this.ashoreFalg = false;
        (this.ruleForm.namea = ""), (this.ruleForm.password1a = "");
      });
    },
    // 退出登录
    que() {
      localStorage.removeItem("arr");
      this.visible = false;
      this.usernam = "";
      location.reload();
    },
    // 搜索
    search(){
      this.$router.push({path:'/goods',query:{in:this.input}})
    }
  },
  mounted() {
    this.user_id = JSON.parse(localStorage.getItem("num"));
    // 判断本地的用户名来渲染
    if (localStorage.getItem("arr")) {
      this.username = localStorage.getItem("arr");
    }
  }
};
</script>

<style lang="scss">
#app {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
}
// 头部
.nav {
  width: 100%;
  height: 40px;
  background: #000;
  top: 0;
  left: 0;
  position: relative;
}
// 注册的弹框
.pop_up {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  .pop_up_cont {
    width: 400px;
    height: 350px;
    top: 10%;
    left: 40%;
    position: absolute;
    background: white;
    // 注册
    .login {
      text-align: center;
      line-height: 70px;
      font-size: 23px;
      display: block;
    }
    // 取消
    .cancel {
      float: right;
      margin-right: 20px;
      font-size: 19px;
      margin-top: -50px;
    }
    // 输入框
    .el-input {
      position: relative;
      font-size: 14px;
      display: inline-block;
      width: 90%;
    }
    // 注册的按钮
    .el-button {
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
      cursor: pointer;
      background: #66b1ff;
      border: 1px solid #dcdfe6;
      color: white;
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: 0;
      margin: 0;
      transition: 0.1s;
      font-weight: 500;
      padding: 12px 150px;
      font-size: 14px;
      border-radius: 4px;
    }
  }
}
// 登陆
.debark {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  .debark_cont {
    width: 400px;
    height: 350px;
    top: 10%;
    left: 40%;
    position: absolute;
    background: white;
    // 登陆
    .login {
      text-align: center;
      line-height: 70px;
      font-size: 23px;
      display: block;
    }
    // 取消
    .cancel {
      float: right;
      margin-right: 20px;
      font-size: 19px;
      margin-top: -50px;
    }
    // 输入框
    .el-input {
      position: relative;
      font-size: 14px;
      display: inline-block;
      width: 90%;
    }
    // 注册的按钮
    .el-button {
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
      cursor: pointer;
      background: #66b1ff;
      border: 1px solid #dcdfe6;
      color: white;
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: 0;
      margin: 0;
      transition: 0.1s;
      font-weight: 500;
      padding: 12px 150px;
      font-size: 14px;
      border-radius: 4px;
    }
  }
}
.nav_cont {
  width: 25%;
  height: 100%;
  float: right;
  margin-right: 10%;
  color: #ccc;
  display: flex;
  font-size: 18px;
  .span {
    text-align: center;
    margin-left: 10px;
    margin-top: 2%;
    .span1 {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  span:hover {
    color: white;
  }
}
// 中间
.cont {
  width: 80%;
  height: 6%;
  padding-bottom: 1%;
  border-bottom: 1px solid #000;
  top: 8%;
  left: 13%;
  position: absolute;
  // logo图片
  .logo {
    float: left;
  }
  // 首页全部关于
  .cont_cont {
    width: 19%;
    height: 100%;
    margin-left: 16%;
    display: flex;
    font-size: 18px;
    text-align: center;
    span {
      flex: 1;
      margin-top: 7%;
      color: rgb(85, 85, 85);
    }
    span:hover {
      color: #000;
    }
    .active {
      color: skyblue !important;
      border-bottom: 3px solid skyblue;
      padding-bottom: 19%;
    }
  }
  // 右侧输入框
  .inputBox {
    width: 20%;
    height: 80%;
    border: 1px solid #f5f7fa;
    bottom: 8%;
    right: 10%;
    position: absolute;
    .el-input {
      width: 80%;
      float: left;
      height: 100%;
    }
    i {
      float: left;
      background: #f5f7fa;
      padding: 14px 23.5px;
    }
  }
}
// 注册的弹框
.login {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  // 内容
  .login_cont {
    width: 350px;
    height: 400px;
    background: white;
    top: 10%;
    left: 40%;
    position: absolute;
    // 注册
    .white_cont {
      font-size: 20px;
      text-align: center;
      display: block;
      line-height: 50px;
    }
    // 取消
    .loginOff {
      float: right;
      margin-top: -40px;
      margin-right: 20px;
      font-size: 16px;
    }
    .demo-ruleForm {
      width: 90%;
      margin-top: 30px;
    }
    // 注册的按钮
    .btn {
      margin-left: 30px;
      padding: 15px 130px;
    }
  }
}
// 登陆的弹框
.ashore {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  .ashore_cont {
    width: 350px;
    height: 400px;
    background: white;
    top: 10%;
    left: 40%;
    position: absolute;
    // 登陆
    .white_cont {
      font-size: 20px;
      text-align: center;
      display: block;
      line-height: 50px;
    }
    // 取消
    .loginOff {
      float: right;
      margin-top: -40px;
      margin-right: 20px;
      font-size: 16px;
    }
    .demo-ruleForm {
      width: 90%;
      margin-top: 30px;
    }
    // 注册的按钮
    .btn {
      margin-left: 30px;
      padding: 15px 130px;
    }
  }
}
</style>
